<a href="https://colab.research.google.com/github/dazaca/ML_000_EXAMPLES/blob/main/practica_python_essential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 3
b = 2
c = a + b
print(c)

5

In [ ]:
# Declaración
b = 5
# Asignación
c = a + b
print(c)

8

In [ ]:
c = a + b
print(c)

5



# PYTHON REVIEW

## 1- Sintax, literals, operators, expressions

In [ ]:
# 1.1 Print
print("Hello, world!")
# Valid use of print() functions. It adds an empty line:
print()
print("... new line after empty line ...")
print("\n... new line after empty line using the escape character '\' (backslash) ...")
print("\n... new line after empty line using the escape character '\\' ...")

print("\nFirst argument ->", "<- second argument (separated by comma with space included)")
print("My name is", "Python.")
print("Monty Python (with no line in between).")

Hello, world!

... new line after empty line ...

... new line after empty line using the escape character '' (backslash) ...

... new line after empty line using the escape character '\' ...

First argument -> <- second argument (separated by comma with space included)
My name is Python.
Monty Python (with no line in between).

In [ ]:
# 1.2 Keyword Arguments
# The print() function has two keyword arguments that you can use for your purposes. 
# The first of them is named "end" (note that here the default /n is replaced by a space):

print("\nMy name is", "Python.", end=" ")
print("Monty Python.")

print("\nMy name is ", end="")
print("Monty Python2.")

# The second keyword: "sep" (separator):
print()
print("My", "name", "is", "Monty", "Python.", sep="-")

# Combination of both:
print("\nCombination of both: Monty", "Python.", sep="*", end="*\n")
print("Hello")

My name is Python. Monty Python.

My name is Monty Python2.

My-name-is-Monty-Python.

Combination of both: Monty*Python.*
Hello

In [ ]:
# 1.3 Literals - the data in itself

# Two types of literals: string vs integer:
print("\n--- String vs integer ---\n")
print("2")
print(2)

# *Python 3.6 has introduced underscores in numeric literals, allowing for
# placing single underscores between digits and after base specifiers for
# improved readability. This feature is not available in older versions 
# of Python.
print("\n--- Underscore between digits: ---\n")
print("Operating with the same number: ", 111_111_111 - 111111111)

# Integers: octal and hexadecimal numbers.
print("\n--- Integers: octal and hexadecimal numbers. ---\n")
# If an integer number is preceded by an 0O or 0o prefix (zero-o), 
# it will be treated as an octal value. This means that the number must contain 
# digits taken from the [0..7] range only.
print("Convert 123 in octal to decimal: ")
print(0o123)

# To use hexadecimal numbers, such numbers should be preceded by the 
# prefix 0x or 0X (zero-x):
print("Convert 123 in hexadecimal to decimal: ")
print(0x123)

# Another example:
print("Convert A (in hexadecimal) and 12 (in octal) to decimal: ", end="\n\n")
print("0xA in decimal: ", 0xA, "\n")
print("0o12 in octal: ", 0o12, "\n")

# Floats (floating-point number):
print("\n--- Floats (floating-point number). ---\n")
print("Different ways of writing -0.4:", -0.4, "or", -.4)

# Scientific notation. Exponents:
print("\n--- Scientific notation. ---\n")
print("Examples:", 3E8, " or ", 3e8, " or ", -1.5e-3)

# Strings:
print("\n--- Strings. ---\n")
print("Use of backslash:")
print("I like \"Monty Python\" or also", 'I like "Monty Python".')
print('I\'m Monty Python.', "I'm Monty Python.")
print('')
print("----1")
print("")
print('----2')

# Boolean values:
print("\n--- Boolean values. ---\n")
print("You cannot change anything - you have to take these symbols as they are,\
 including case-sensitivity")
print(True > False)
print(True < False)
print("Expressions above: clue-> 1 (True) and 0 (False).")

--- String vs integer ---

2
2

--- Underscore between digits: ---

Operating with the same number:  0

--- Integers: octal and hexadecimal numbers. ---

Convert 123 in octal to decimal:
83
Convert 123 in hexadecimal to decimal:
291
Convert A (in hexadecimal) and 12 (in octal) to decimal:

0xA in decimal:  10

0o12 in octal:  10


--- Floats (floating-point number). ---

Different ways of writing -0.4: -0.4 or -0.4

--- Scientific notation. ---

Examples: 300000000.0  or  300000000.0  or  -0.0015

--- Strings. ---

Use of backslash:
I like "Monty Python" or also I like "Monty Python".
I'm Monty Python. I'm Monty Python.

----1

----2

--- Boolean values. ---

You cannot change anything - you have to take these symbols as they are, including case-sensitivity
True
False
Expressions above: clue-> 1 (True) and 0 (False).

In [ ]:
# 1.4 Operators

# Data and operators when connected together form expressions. 
# The simplest expression is a literal itself.

# Exponentiation:
print("\n--- Exponentiation ---\n")
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)
print()
print("2*3 = ", 2 * 3, " but 6/3 = ", 6/3, "\n")

# Division:
print("\n\n--- Division ---\n")
# A // (double slash) sign is an integer divisional operator. It differs from 
# the standard / operator in two details:
 
# 1) its result lacks the fractional part - it's absent (for integers), or is 
# always equal to zero (for floats); this means that the results are always rounded;
# 2) it conforms to the integer vs. float rule.

# Decimal division:
print("8 / 4 (decimal)= ", 8/4)
# Integer division (floor division): The rounding goes toward the lesser integer value
print("6 // 4 (integer)= ", 6 // 4)
print("6. // 4 = ", 6. // 4)
# Watch out for the negative numbers! :
print("Watch out for the negative numbers!")
print("-6 // 4 = ", -6 // 4)
print("6. // -4 = ", 6. // -4)

# Remainder (modulo):
print("\n\n--- Remainder(modulo) ---\n")
# It's the value left over after dividing one value by another to produce an integer quotient.
print("14 % 4 = ", 14 % 4, "\n")
print("12 % 4.5 = ", 12 % 4.5)

# Priorities:
print("\n\n--- Execution order priorities ---\n")
# The binding of the operator determines the order of computations performed by
# some operators with equal priority, put side by side in one expression.
# % operator, as almost all operators, has left-sided binding:
print("Example: 9 % 6 % 2 = ", 9 % 6 % 2)
# EXCEPTION ( ** operator is right-sided binding):
# 2 ** 2 → 4; 4 ** 3 → 64
# 2 ** 3 → 8; 2 ** 8 → 256
print("\nEXCEPTION ( ** operator is right-sided binding):")
print("2 ** 2 → 4; 4 ** 3 → 64")
print("2 ** 3 → 8; 2 ** 8 → 256")
print("\nEXCEPTION: 2 ** 2 ** 3 would be ((2^3)^2) = ", 2 ** 2 ** 3)

# Priority: ** , + or - (unary), * or / or // or %, + or - (binary)
x = 10
y = -x  # assign the negative value of x to y using the - unary operator
print("\nx = 10")
print("y = -x  # assign the negative value of x to y using the - unary operator")
print(y, "=")  # prints -10

z = +x  # assign the positive value of x to z using the + unary operator (this is the default behavior)
print("z = +x  # assign the positive value of x to z using the + unary operator (this is the default behavior).")

print(z)  # prints 10

--- Exponentiation ---

8
8.0
8.0
8.0

2*3 =  6  but 6/3 =  2.0



--- Division ---

8 / 4 (decimal)=  2.0
6 // 4 (integer)=  1
6. // 4 =  1.0
Watch out for the negative numbers!
-6 // 4 =  -2
6. // -4 =  -2.0


--- Remainder(modulo) ---

14 % 4 =  2

12 % 4.5 =  3.0


--- Execution order priorities ---

Example: 9 % 6 % 2 =  1

EXCEPTION ( ** operator is right-sided binding):
2 ** 2 → 4; 4 ** 3 → 64
2 ** 3 → 8; 2 ** 8 → 256

EXCEPTION: 2 ** 2 ** 3 would be ((2^3)^2) =  256
x = 10
y = -x  # assign the negative value of x to y using the - unary operator
-10 =
z = +x  # assign the positive value of x to z using the + unary operator (this is the default behavior).
10

In [ ]:
# 1.4 Variables

# With cannot begin a variable's name with a digit and neither use spaces.

var = "3.8.6"
print("Python version: " + var)
# ... also:
print("Python version: ", var)

Python version: 3.8.6
Python version:  3.8.6

In [ ]:
# 1.5 Shortcut operators

# i = i + 2 * j ⇒  i += 2 * j
# 
# var = var / 2 ⇒  var /= 2
# 
# rem = rem % 10 ⇒  rem %= 10
# 
# j = j - (i + var + rem) ⇒  j -= (i + var + rem)
# 
# x = x ** 2 ⇒  x **= 2

In [ ]:
# 1.6 String operators

# Concat operator
print("\n\n--- Concat operator ---\n")
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

print("--- Others ----")
x=int(input())
y=int(input())
w=input()

z=x//y*3 # Output is not 0.0 but 0.
print(z)
print(w*3) # Output will be the digit 'w' repeated 3 times.
print('Other example: 3 times E is', 'E'*3)

--- Concat operator ---

May I have your first name, please? perico
May I have your last name, please? palotes
Thank you.

Your name is perico palotes.
--- Others ----
1
2
3
0
333
Other example: 3 times E is EEE

In [ ]:
# 1.7 Replication operator

print("\n\n--- Replication operator ---\n")
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5)
print("+" + 10 * "-" + "+")

print("\nLet's improve it: \n")


print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

--- Replication operator ---

+----------+
|          |
|          |
|          |
|          |
|          |

+----------+

Let's improve it:

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

##2- Some interesting functions

2.1 - input( )

In [ ]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

Tell me anything...
ANYTHING
Hmm... ANYTHING ... Really?

### 2.2 - float( )

In [ ]:
anything = input("Enter a number: ")
something = float(anything) ** 2.0 # Operand ** only admits string or float !!!
print(anything, "to the power of 2 is", something)

Enter a number: 2
2 to the power of 2 is 4.0

### 2.3 - float( ) and input( )

In [ ]:
# ... OR :
anything = float(input("Enter a number: "))
something = anything ** 2.0 # Operand ** only admits string or float !!!
print(anything, "to the power of 2 is", something)

Enter a number: 2
2.0 to the power of 2 is 4.0

In [ ]:
# ... an example:

leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

Input first leg length: 2
Input second leg length: 2
Hypotenuse length is 2.8284271247461903

### 2.4 - str( )

In [ ]:
# str() example (compare it with the previous one):

leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is " + str((leg_a**2 + leg_b**2) ** .5))

Input first leg length: 2
Input second leg length: 2
Hypotenuse length is 2.8284271247461903

In [ ]:
x = float(input("\nEnter value for x: "))
y = float((x+(1/((x+( 1/(x+( 1/x )))))))**-1)
print("y =", y)
print("... or:")
y = float(1/(x+(1/((x+( 1/(x+( 1/x ))))))))
print("y =", y)
print("... or even:")
y = 1/(x+(1/((x+( 1/(x+( 1/x )))))))
print("y =", y)

Enter value for x: 1
y = 0.6000000000000001
... or:
y = 0.6000000000000001
... or even:
y = 0.6000000000000001

### 2.5 - max( ) and min( )

In [ ]:
# max() and min()

print("\n\n--- max() and min() ---\n")
# Read three numbers.
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))
number3 = int(input("Enter the third number: "))

# Check which one of the numbers is the greatest
# and pass it to the largest_number variable.

largest_number = max(number1, number2, number3)
lowest_number = min(number1, number2, number3)

# Print the result.
print("The largest number is:", largest_number)
print("The lowest number is:", lowest_number)

--- max() and min() ---

Enter the first number: 22
Enter the second number: 3
Enter the third number: -1
The largest number is: 22
The lowest number is: -1

### 2.5 - time.sleep( )

In [ ]:
# time.sleep(1)

print("\n\n--- time.sleep() ---\n")

import time

for counter in range (1,6):
    print(counter, " Mississipi.\n")
    time.sleep(1) # Stops execution 1 second.
print("\nBlast off!")

--- time.sleep() ---

1  Mississipi.

2  Mississipi.

3  Mississipi.

4  Mississipi.

5  Mississipi.


Blast off!

## 3- Boolean values, conditional execution, loops, lists, logical and bitwise operations

### 3.1 - Boolean values

In [ ]:
# The 'equal to' operator:

print("Result of 2 == 2 expresion in python is:", 2 == 2)
print("Result of 2 == 2.0 expresion in python is:", 2 == 2.0)
print("Result of 2 == 1 expresion in python is:", 2 == 1)

Result of 2 == 2 expresion in python is: True
Result of 2 == 2.0 expresion in python is: True
Result of 2 == 1 expresion in python is: False

In [ ]:
# Quick examplo use of >= 
# simple two-line program that takes the parameter n as input, which is an 
# integer, and prints False if n #is less than 100, and True if n is greater 
# than or equal to 100.

n=int(input())
print(n>=100)

### 3.2 - Conditions and conditional execution

#### 3.2.1 - If, else & elif

In [ ]:
# 3.2.1 If, else & elif

print("\n\n--- If, else & elif ---\n")

n=int(input("Enter a number: \n"))
if(n>=100):
  if(n==100):
    print("Your number is = to 100 !")
  elif(n > 100):
    print("Your number is > than 100 !")
else:
  print("Your number is < than 100 !")

--- If, else & elif ---

Enter a number:
3
Your number is < than 100 !

### 3.3 - Loops

#### 3.3.1 - "While" loops

In [ ]:
# 3.3.2 While

print("\n\n--- While ---\n")

# Store the current largest number here.
largest_number = -999999999

# Input the first value.
number = int(input("Enter a number or type -1 to stop: "))

# If the number is not equal to -1, continue.
while number != -1:
    # Is number larger than largest_number?
    if number > largest_number:
        # Yes, update largest_number.
        largest_number = number
    # Input the next number.
    number = int(input("Enter a number or type -1 to stop: "))

# Print the largest number.
print("The largest number is:", largest_number)

--- While ---

Enter a number or type -1 to stop: 3
Enter a number or type -1 to stop: -100
Enter a number or type -1 to stop: 2
Enter a number or type -1 to stop: -1
The largest number is: 3

In [ ]:
counter = 5
while counter != 0:
    print("Inside the loop.", counter)
    counter -= 1
print("Outside the loop.", counter)

print("\nUsing an equivalent while condition:")
counter = 5
while counter:
    print("Inside the loop.", counter)
    counter -= 1
print("Outside the loop.", counter)

Inside the loop. 5
Inside the loop. 4
Inside the loop. 3
Inside the loop. 2
Inside the loop. 1
Outside the loop. 0

Using an equivalent while condition:
Inside the loop. 5
Inside the loop. 4
Inside the loop. 3
Inside the loop. 2
Inside the loop. 1
Outside the loop. 0

#### 3.3.2 - "For" loops

In [ ]:
# 3.3.3 "For" loops

print("\n\n--- For loops ---\n")
# the for loop is designed to do more complicated tasks 
# - it can "browse" large collections of data item by item - .

for i in range(10):
    print("The value of i is currently", i)

--- For loops ---

The value of i is currently 0
The value of i is currently 1
The value of i is currently 2
The value of i is currently 3
The value of i is currently 4
The value of i is currently 5
The value of i is currently 6
The value of i is currently 7
The value of i is currently 8
The value of i is currently 9

In [ ]:
for i in range(2, 8):
    print("The value of i is currently", i)

The value of i is currently 2
The value of i is currently 3
The value of i is currently 4
The value of i is currently 5
The value of i is currently 6
The value of i is currently 7

In [ ]:
for i in range(2, 8, 3):
    print("The value of i is currently", i)

The value of i is currently 2
The value of i is currently 5

In [ ]:
# NO OUTPUT FOR THE FOLLOWING CASES:

for i in range(1, 1):
    print("The value of i is currently", i)

for i in range(2, 1):
    print("The value of i is currently", i)

# Check the use of time.spleep() example in 2.5

#### 3.3.3 - The "break" and "continue" statements

In [ ]:
# break (keyword)- example 
print("The break instruction:")
for i in range(1, 6):
    if i == 3:
        break
    print("Inside the loop.", i)
print("Outside the loop (break at 3).")


# continue (keyword)- example
print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        continue # Note we cancel the iteration, but not the loop.
    print("Inside the loop.", i)
print("Outside the loop.")

The break instruction:
Inside the loop. 1
Inside the loop. 2
Outside the loop (break at 3).

The continue instruction:
Inside the loop. 1
Inside the loop. 2
Inside the loop. 4
Inside the loop. 5
Outside the loop.

In [ ]:
for i in range(6, 1, -2):
    print(i, end=" ")  # Outputs: 6, 4, 2

6 4 2

In [ ]:
for digit in "0165031806510":
    if digit == "0":
        print("x", end="")
        continue
    print(digit, end="")

x165x318x651x

In [ ]:
# Another example:
user_word = input("Enter a word in lowercase: ")
user_word = user_word.upper()
for letter in user_word: # Exclude de vowels
    if (letter == 'A') \
        or (letter == 'E') \
        or (letter == 'I') \
        or (letter == 'O') \
        or (letter == 'U'):
            continue
    else:
        print(letter)

Enter a word in lowercase: mississipo
M
S
S
S
S
P

#### 3.3.4. - The "while" loop and the "else" branch

In [ ]:
i = 1
while i < 4:
    print(i)
    i += 1
else:
    print("else:", i)

# OR...
print('\nThe "while" condition is not met:')
i = 5
while i < 5:
    print(i)
    i += 1
else:
    print("else:", i)

1
2
3
else: 4

The "while" condition is not met:
else: 5

In [ ]:
i = 111
for i in range(2, 1):
    print(i)
else:
    print("else:", i)

### 3.4 - & vs AND operators

In [ ]:
# Bitwise "&"" vs logical "AND" operators
i = 1
j = 2
k = 4
z = 15
log = i and j
print("01b in decimal = ", 0b000010)
print("10b in decimal = ",0b000001)
print("100b in decimal = ",0b000100)
print("1111b in decimal = ",0b00000000000000000000000000001111)
print("the binary neg for 1111b (32bits) in decimal (11111111111111111111111111110000) = ", ~0b1111)


# In Python, the logical AND operator returns the first operand if it is false, 
# otherwise it returns the second operand. In this case, both "i" and "j" are 
# non-zero values, which evaluate to True in a boolean context. Therefore, the 
# logical AND operation evaluates to the second operand, which is "j".

print("log = ", log)
print("i and j : ", i and j)
print("i or j : ",i or j)
print("i & j : ",i&j)

print("\n --- ")
print("logneg = ", not i)
# bitwise (binary negation)
print("i bitneg = ", ~i)
print("k bitneg = ", ~k)
print("z bitneg = ", ~z)

print("\n --- Abreviations: ")
print('x = x & y	x &= y (and or conjunction)')
print('x = x | y	x |= y (or)')
print('x = x ^ y	x ^= y (xor)')

01b in decimal =  2
10b in decimal =  1
100b in decimal =  4
1111b in decimal =  15
the binary neg for 1111b (32bits) in decimal (11111111111111111111111111110000) =  -16
log =  2
i and j :  2
i or j :  1
i & j :  0

 ---
logneg =  False
i bitneg =  -2
k bitneg =  -5
z bitneg =  -16

 --- Abreviations:
x = x & y	x &= y (and)
x = x | y	x |= y (or)
x = x ^ y	x ^= y (xor)

### 3.5 - Shift operators

In [ ]:
# The shift operators in Python are a pair of digraphs: << and >>, 
# clearly suggesting in which direction the shift will act.

# value << bits
# value >> bits


var = 17
var_right = var >> 1
var_left = var << 2
print(var, var_left, var_right)


# Notes:

# 17 >> 1 → 17 // 2 (17 floor-divided by 2 to the power of 1) → 8 
# (shifting to the right by one bit is the same as integer division by two)

# 17 << 2 → 17 * 4 (17 multiplied by 2 to the power of 2) → 68 
# (shifting to the left by two bits is the same as integer multiplication by four)

17 68 8

### 3.6 - Lists

In [ ]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)  # Printing original list content.

numbers[0] = 111
print("New list content: ", numbers)  # Current list content.

print("\nList length:", len(numbers))  # Printing the list's length.
del numbers[1]  # Removing the second element from the list.
print("New list's length:", len(numbers))  # Printing new list length.
print("\nNew list content:", numbers)  # Printing current list content.

numbers = [111, 7, 2, 1]
print("Negative indices are legal:")
print(numbers[-1])
print(numbers[-2])

# Adding elements to a list: the append() and insert() methods.
numbers.append(777)
numbers.insert(0, 222)
print(len(numbers))
print(numbers)

Original list content: [10, 5, 7, 2, 1]
New list content:  [111, 5, 7, 2, 1]

List length: 5
New list's length: 4

New list content: [111, 7, 2, 1]
Negative indices are legal:
1
2
6
[222, 111, 7, 2, 1, 777]

In [ ]:
# Creating a list from scratch:

my_list = []  

for i in range(5):
    my_list.append(i + 1)

print(my_list)

[1, 2, 3, 4, 5]

In [ ]:
# Accessing all the elements of a list:

my_list = [10, 1, 8, 3, 5]
total = 0

for i in range(len(my_list)):
    total += my_list[i]

print(total)

27

In [ ]:
# Swapping variables & using it to order lists:

var1 = 3
var2 = 66
var1,var2 = var2,var1
print("var1 =", var1, ", var2=", var2)

my_list = [10, 1, 8, 3, 5]
length = len(my_list)
print("Lenght of the list: ", length)

for i in range(length // 2):
    my_list[i], my_list[length - i - 1] = my_list[length - i - 1], my_list[i]

print(my_list)

# Lists can be nested:
my_list = [1, 'a', ["list", 64, [0, 1], False]]
print(my_list)
# Deleting one element:
del my_list[2]
print("3rd element deleted: ", my_list)
del my_list  # deletes the whole list

var1 = 66 , var2= 3
Lenght of the list:  5
[5, 3, 8, 1, 10]
[1, 'a', ['list', 64, [0, 1], False]]
Deleting the 3rd element:  [1, 'a']

In [ ]:
lst = [1, 2, 3, 4, 5]
lst.insert(1, 6)
print(lst)
del lst[0]
lst.append(1)
print(lst)

[1, 6, 2, 3, 4, 5]
[6, 2, 3, 4, 5, 1]

In [ ]:
# Bubble sort:
my_list = [8, 10, 6, 2, 4]  # list to sort
swapped = True  # It's a little fake, we need it to enter the while loop.

while swapped:
    swapped = False  # no swaps so far
    for i in range(len(my_list) - 1):
        if my_list[i] > my_list[i + 1]:
            swapped = True  # a swap occurred!
            my_list[i], my_list[i + 1] = my_list[i + 1], my_list[i]

print(my_list)

# The "sort()" and "reverse()" functions:

a = "A"
b = "B"
c = "C"
d = " "

my_list = [a, b, c, d]
my_list.sort()
print("List sorted with sort(): ", my_list)
my_list.reverse()
print("List sorted with reverse(): ", my_list)

my_list =[3,33,0]
reverse = []

ordered_list = sorted(my_list)
print("\nOrdered list: ",ordered_list)
ordered_list.reverse()
print(ordered_list) 
# ATTENTION: do not try to do -> rev = ordered_list.reverse()
# or print (ordered_list.reverse()). An alternative, once "ordered_list.reverse()"
# has been execueted:
rev = ordered_list[:]
print(rev)

[2, 4, 6, 8, 10]
List sorted with sort():  [' ', 'A', 'B', 'C']
List sorted with reverse():  ['C', 'B', 'A', ' ']

Ordered list:  [0, 3, 33]
[33, 3, 0]
[33, 3, 0]

In [ ]:
my_list = [0, 3, 33]
my_list.reverse()
print(my_list)

[33, 3, 0]

In [ ]:
# List and memory location

#  Lists (and many other complex Python entities) are stored in different ways 
#  than ordinary (scalar) #  variables.

#  You could say that:
#  
#  the name of an ordinary variable is the name of its content;
#  the name of a list is the name of a memory location where the list is stored.
#  Read these two lines once more - the difference is essential for understanding 
#  what we are going to talk about next.
#  The assignment: list_2 = list_1 copies the name of the array, not its contents.
#  In effect, the two names (list_1 and list_2) identify the same location in 
#  the computer memory. Modifying one of them affects the other, and vice versa.

list_1 = [1]
list_2 = list_1
list_1[0] = 2
print(list_2)

# SLICES

# A slice is an element of Python syntax that allows you to make a brand new
# copy of a list, or parts of a list.
# It actually copies the list's contents, not the list's name.

print("\n--- SLICES ---\n")
list_1 = [1]
list_2 = list_1[:] # Copying the entire list.
list_1[0] = 2
print("list_2 = ", list_2)

# Copying some part of the list (my_list[start:end-1]).
my_list = [10, 8, 6, 4, 2]
new_list = my_list[1:3]
print("my_list[1:3] = ", my_list[1:3])
print("new_list = ", new_list)

# SLICES with negative indices

# start is the index of the first element included in the slice;
# end is the index of the first element not included in the slice.

print("\n--- SLICES with negative indices ---\n")
my_list = [10, 8, 6, 4, 2, 33]

print('my_list = ', my_list)
print("not valid -> print('my_list[] = ', my_list[])")
print('my_list[:] = ', my_list[:])
print('my_list[-2] = ',my_list[-2])
print('my_list[2:] = ',my_list[2:])
print('my_list[-2:] = ',my_list[-2:])
print('my_list[:2] = ',my_list[:2])
print('my_list[:-2] = ',my_list[:-2])
print('my_list[1:-1] = ',my_list[1:-1])
# If we add elements and we don't know the lenght:
print('my_list[:len(my_list)] = ', my_list[:len(my_list)])
# Deleting an interval:
my_list = [10, 8, 6, 4, 2]
del my_list[1:3]
print('my_list = ', my_list)
print('del my_list[1:3] = ', my_list)

# Deleting all the list's elements (all content):
del my_list[:]
print('my_list =', my_list)

# Deleting the list itself: 
my_list = [10, 8, 6, 4, 2]
del my_list
print('print(my_list) -> ERROR');

# Optimizing computer power with SLICES:

my_list = [17, 3, 11, 5, 1, 9, 7, 15, 13]
largest = my_list[0]

## By using "for i in mylist" we'd unecessarily compare the first element,
## which is know to be the greatest, so we use:
for i in my_list[1:]: 
    if i > largest:
        largest = i

print("Largest = ", largest)

[2]

--- SLICES ---

list_2 =  [1]
my_list[1:3] =  [8, 6]
new_list =  [8, 6]

--- SLICES with negative indices ---

my_list =  [10, 8, 6, 4, 2, 33]
not valid -> print('my_list[] = ', my_list[])
my_list[:] =  [10, 8, 6, 4, 2, 33]
my_list[-2] =  2
my_list[2:] =  [6, 4, 2, 33]
my_list[-2:] =  [2, 33]
my_list[:2] =  [10, 8]
my_list[:-2] =  [10, 8, 6, 4]
my_list[1:-1] =  [8, 6, 4, 2]
my_list[:len(my_list)] =  [10, 8, 6, 4, 2, 33]
my_list =  [10, 4, 2]
del my_list[1:3] =  [10, 4, 2]
my_list = []
print(my_list) -> ERROR
Largest =  17

In [ ]:
# The in and not in operators

my_list = [0, 3, 12, 8, 2]

print(5 in my_list)
print(5 not in my_list)
print(12 in my_list)

# Practical application: given some numbers that have been drawn,
# how many numbers have you hit among the ones used in your bet?

drawn = [5, 11, 9, 42, 3, 49]
bets = [3, 7, 11, 42, 34, 49]
hits = 0

for number in bets:
    if number in drawn:
        hits += 1

print('drawn = [5, 11, 9, 42, 3, 49]')
print('bets = [3, 7, 11, 42, 34, 49]')
print('hits = ', hits)

False
True
True
drawn = [5, 11, 9, 42, 3, 49]
bets = [3, 7, 11, 42, 34, 49]
hits =  4

In [ ]:
# Example: Erase repeated elements in a list:

my_list = [1, 2, 4, 4, 1, 4, 2, 6, 2, 9]
aux_list = []
for i in my_list:
    if i not in aux_list:
        aux_list.append(i)

print("The list with unique elements only:")
print(aux_list)

The list with unique elements only:
[1, 2, 4, 6, 9]

In [ ]:
# List in lists: 

# LIST COMPREHENSIONS

# Special syntax used by Python in order to fill massive lists.
# A list comprehension is actually a list, but created on-the-fly
# during program execution, and is not described statically:


squares = [x ** 2 for x in range(1,3)]
print("Squares's lenght: ", len(squares))
print("Squares: ", squares)
squares = [x ** 2 for x in range(10)]
print("Squares: ", squares)
odds = [x for x in squares if x % 2 != 0 ]
print("Odds: ", odds)

Squares's lenght:  2
Squares:  [1, 4]
Squares:  [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
Odds:  [1, 9, 25, 49, 81]

In [ ]:
# ARRAYS

# Two dimensional arrays:

print("\n--- Three dimensional arrays ---\n")

board = []

for i in range(4):
    row = [j for j in range(2)]
    board.append(row)
print(board)

# Equivalent version with list comprehension:
del(board)
board = [[j for j in range(2)] for i in range(4)]
print(board)

# Example 2:
del(board)
board = [[x**2 for x in range(2)] for i in range(4)]
print('Example 2:', board)

# Example 3:
del(board)
board = [[2**x for x in range(2)] for i in range(4)]
print('Example 3:', board)

# Example 4:
del(board)
# board = [[x for x in squares if x % 2 != 0] for i in range(4)]
board = [[x for x in [x ** 2 for x in range(10)] if x % 2 != 0] for i in range(4)]
print('Example 4:', board)

del(board)
# board = [[x for x in squares if x % 2 != 0] for i in range(4)]
board = [[x for x in [x ** 2 for x in range(10)] if x % 2 != 0] for x in range(4)]
print('Example 5:', board)

# Three dimensional arrays:

print("\n--- Three dimensional arrays ---\n")
i=3
rooms = [[[i for r in range(2)] for f in range(3)] for t in range(4)]
print(rooms)

--- Three dimensional arrays ---

[[0, 1], [0, 1], [0, 1], [0, 1]]
[[0, 1], [0, 1], [0, 1], [0, 1]]
Example 2: [[0, 1], [0, 1], [0, 1], [0, 1]]
Example 3: [[1, 2], [1, 2], [1, 2], [1, 2]]
Example 4: [[1, 9, 25, 49, 81], [1, 9, 25, 49, 81], [1, 9, 25, 49, 81], [1, 9, 25, 49, 81]]
Example 5: [[1, 9, 25, 49, 81], [1, 9, 25, 49, 81], [1, 9, 25, 49, 81], [1, 9, 25, 49, 81]]

--- Three dimensional arrays ---

[[[3, 3], [3, 3], [3, 3]], [[3, 3], [3, 3], [3, 3]], [[3, 3], [3, 3], [3, 3]], [[3, 3], [3, 3], [3, 3]]]

In [ ]:
## OTHER TESTS
i=1
print (i%2)
nums=[1,2,3]
print("yes->",nums[-1:-2])
for i in range(1):
  print("x")
else:
  print("x")
print("len ->",len([i for i in range(-1,2)]))
my=[1,2,3,4]
print("Hello ->", my[-3:-2])

var=1
while var < 10:
  print("#")
  var = var << 1

z=10
y=0
print(y<z and z>y or y>z and z<y)

vals=[0, 1, 2]
vals.insert(0,1)
print(vals)
del vals[1]
print(vals)
print(vals[0]+vals[1]+vals[2])

print("nene:")
l = 3
for v in range(l):
 print(v, end="")
 
a=1
b=0
print("h->", a ^ b)

my=[3,1,-2]
print("my->",my[my[2]])

1
yes-> []
x
x
len -> 3
Hello -> [2]
#
#
#
#
True
[1, 0, 1, 2]
[1, 1, 2]
4
nene:
012h-> 1
my-> 1

## 4 - Functions

In [ ]:
# In general, functions come from at least three places:
# 
# -> from Python itself - numerous functions (like print()) are an integral part of Python, and are always # available without any additional effort on behalf of the programmer; we call these functions built-in # functions;
# -> from Python's preinstalled modules - a lot of functions, very useful ones, but used significantly less#  often than built-in ones, are available in a number of modules installed together with Python; the us# e of these functions requires some additional steps from the programmer in order to make them fully accessible (we'll tell you about this in a while);
# -> directly from your code - you can write your own functions, place them inside your code, and use them # freely;# 
# -> there is one other possibility, but it's connected with classes, so we'll omit it for now.

### 4.1 - Keyword argument passing

In [ ]:
def introduction(first_name, last_name):
    print("Hello, my name is", first_name, last_name)

def adding(a, b, c):
    print(a, "+", b, "+", c, "=", a + b + c)

# Call the functions:
introduction(first_name = "James", last_name = "Bond")
introduction(last_name = "Skywalker", first_name = "Luke")
adding(3, c = 1, b = 2)


# Let's analyze it:
# 
# - the argument (3) for the a parameter is passed using the positional way;
# - the arguments for c and b are specified as keyword ones.

Hello, my name is James Bond
Hello, my name is Luke Skywalker
3 + 2 + 1 = 6

### 4.2 - "Return" and scope of a function

In [ ]:
# The "return" instruction.
# If a function is not intended to produce a result, using the return instruction 
# is not obligatory - it will be executed implicitly at the end of the function.

def happy_new_year(wishes = True):
    print("Three...")
    print("Two...")
    print("One...")
    if not wishes:
        return
    print("Happy New Year!")

# Invoking the function:
happy_new_year()
happy_new_year(False)

# "Return" with an expression:

def boring_function():
    return 123
x = boring_function()
print("The boring_function has returned its result. It's:", x)

# The "none" keyword:

# There are only two kinds of circumstances when None can be safely used:
# - when you assign it to a variable (or return it as a function's result)
# - when you compare it with a variable to diagnose its internal state.

# If a function doesn't return a certain value using a return expression clause,
# it is assumed that it implicitly returns None.

def strange_function(n):
    if(n % 2 == 0):
        return True
        # If we only add "return", its value will be "None" by default:
        # return
print('Triggering "True": ', strange_function(2))
print('Triggering "None": ', strange_function(1))

def is_int(data):
    if type(data) == int:
        return True
    elif type(data) == float:
        return False

print('is_int(5)', is_int(5))
print('is_int(5)', is_int(5.0))
print('Triggering "None", again -> ',is_int("5"))

# Lists in funcions:

def list_sum(lst):
    s = 0
    
    for elem in lst:
        s += elem
    print("My list is", lst)
    return s

print("The list's elements sume is = ", list_sum([5, 4, 3]))
print('print(list_sum(5) -> TypeError: "int" object is not iterable')

Three...
Two...
One...
Happy New Year!
Three...
Two...
One...
The boring_function has returned its result. It's: 123
Triggering "True":  True
Triggering "None":  None
True
False
Triggering "None", again ->  None
My list is [5, 4, 3]
The list's elements sume is =  12
print(list_sum(5) -> TypeError: "int" object is not iterable

In [ ]:
# Functions and scopes:

# A variable existing outside a function has a scope inside the functions' bodies.

def my_function():
    print("Do I know that variable?", var)

var = 1
my_function()
print(var)

Do I know that variable? 1
1

In [ ]:
# The "global" keyword:

# There's a special Python method which can extend a variable's scope in 
# a way which includes the functions' bodies (even if you want not only to read the values, but also to modify them).
# 
# Such an effect is caused by a keyword named global:

def my_function():
    global var
    var = 2
    print("Do I know that variable?", var)

var = 1
my_function()
print("var = ",var)

Do I know that variable? 2
var =  2

### 4.3 - Recursion: an example

In [ ]:
# Some simple functions: recursion

# Fibonacci

def fib(n):
    if n < 1:
        return None
    if n < 3:
        return 1
    return fib(n - 1) + fib(n - 2)

for n in range(1, 10):
    print(n, "->", fib(n))

1 -> 1
2 -> 1
3 -> 2
4 -> 3
5 -> 5
6 -> 8
7 -> 13
8 -> 21
9 -> 34

## 5- Tuples and dictionaries

In [ ]:
# A sequence type is a type of data in Python which is able to store more than 
# one value (or less than one, as a sequence may be empty), and these values can
# be sequentially (hence the name) browsed, element by element.
# 
# As the for loop is a tool especially designed to iterate through sequences, we
# can express the definition as: a sequence is data which can be scanned by the 
# for loop.


# The second notion - mutability - is a property of any of Python's data that 
# describes its readiness to be freely changed during program execution. There 
# are two kinds of Python data: mutable and immutable.
#    
# Mutable data can be freely updated at any time - we call such an operation 
# in situ. For example: list.append(1)

### 5.1 - Tuples

In [ ]:
# A tuple is an immutable sequence type. It can behave like a list, but it 
# mustn't be modified in situ.

# The first and the clearest distinction between lists and tuples
# is the syntax used to create them - tuples prefer to use parenthesis,
# whereas lists like to see brackets, although it's also possible to 
# create a tuple just from a set of values separated by commas.

tuple_1 = (1, 2, 4, 8)
tuple_2 = 1., .5, .25, .125

print(tuple_1)
print(tuple_2)

(1, 2, 4, 8)
(1.0, 0.5, 0.25, 0.125)

In [ ]:
# Creating a tuple from scratch:

empty_tuple = ()

# One-element tuple:

one_element_tuple_1 = (1, )
one_element_tuple_2 = 1.,

print('one_element_tuple_1 = ', one_element_tuple_1)
print('one_element_tuple_2 = ', one_element_tuple_2)

print("\n--- ---")
my_tuple = (1, 10, 100, 1000)

print("my_tuple = ",my_tuple)
print("my_tuple[0] = ",my_tuple[0])
print("my_tuple[-1] = ",my_tuple[-1])
print("my_tuple[1:] = ",my_tuple[1:])
print("my_tuple[:-2] = ",my_tuple[:-2])
print("my_tuple[1:-1] = ",my_tuple[1:-1])
print("my_tuple[1:-2] = ",my_tuple[1:-2])

for elem in my_tuple:
    print(elem, end=",")

print("\n\ndel my_tuple[0] -> AttributeError: 'tuple' object has no attribute 'append'")

one_element_tuple_1 =  (1,)
one_element_tuple_2 =  (1.0,)

--- ---
my_tuple =  (1, 10, 100, 1000)
my_tuple[0] =  1
my_tuple[-1] =  1000
my_tuple[1:] =  (10, 100, 1000)
my_tuple[:-2] =  (1, 10)
my_tuple[1:-1] =  (10, 100)
my_tuple[1:-2] =  (10,)
1,10,100,1000,

del my_tuple[0] -> AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Operations

my_tuple = (1, 10, 100)

t1 = my_tuple + (1000, 10000) # The "+" operator join tuples together.
t2 = my_tuple * 3 # Increases the tuples 3 times.

print(len(t2))
print(t1)
print(t2)
print(10 in my_tuple)
print(-10 not in my_tuple)

9
(1, 10, 100, 1000, 10000)
(1, 10, 100, 1, 10, 100, 1, 10, 100)
True
True

In [ ]:
var = 123

t1 = (1, )
t2 = (2, )
t3 = (3, var)

t1, t2, t3 = t2, t3, t1

print(t1, t2, t3)

(2,) (3, 123) (1,)

### 5.2 - Dictionaries

In [ ]:
# The dictionary is another Python data structure. It's not a sequence type (but
# can be easily adapted to sequence processing) and it is mutable.


# A dictionary is a set of key-value pairs:

# - each key must be unique - it's not possible to have more than one key of 
# the same value;

# - a key may be any immutable type of object: it can be a number (integer or 
# float), or even a string, but not a list;

# - a dictionary is not a list - a list contains a set of numbered values, 
# while a dictionary holds pairs of values;

# - the len() function works for dictionaries, too - it returns the numbers of
# key-value elements in the dictionary;

# - a dictionary is a one-way tool - if you have an English-French dictionary, 
# you can look for French equivalents of English terms, but not vice versa.


dictionary = {"horse": "cheval", "cat": "chat", "dog": "chien"}
phone_numbers = {'boss': 5551234567, 'Suzy': 22657854310}
empty_dictionary = {}

# IMPORTANT: (*) In Python 3.6x dictionaries have become ordered collections by 
# default. Your results may vary depending on what Python version you're using.

print(dictionary)
print(phone_numbers)
print(empty_dictionary)
print(dictionary['cat'])
print(phone_numbers['Suzy'])
print("print(phone_numbers['president']) -> ERROR -> KeyError: 'president' ")

{'horse': 'cheval', 'cat': 'chat', 'dog': 'chien'}
{'boss': 5551234567, 'Suzy': 22657854310}
{}
chat
22657854310
print(phone_numbers['president']) -> ERROR -> KeyError: 'president'

In [ ]:
# Checking the content of a dictionary:

print("\n\n--- Checking the content of a dictionary ---\n\n")

#  We create the dictionary with "hanging indent": 
dict = { 
        "horse":"cheval",
        "cat":"chat",
        "dog":"chien"
        }
word_list = ['cat', 'lion', 'horse']

print("My word list:", word_list)
for word in word_list:
  if word in dict:
    print(word, " -> ", dict[word])
  else:
    print(word, "is not in dictionary")

--- Checking the content of a dictionary ---


My word list: ['cat', 'lion', 'horse']
cat  ->  chat
lion is not in dictionary
horse  ->  cheval

In [81]:
# Keys of a dictionary:


# A dictionary is not a sequence type - the for loop is useless with it.

# But we can adapt any dictionary to the for loop requirements (in other words,
# building an intermediate link between the dictionary and a temporary sequence entity).
# 
# The first of them is a method named keys(), possessed by each dictionary. 
# The method returns an iterable object consisting of all the keys gathered within the 
# dictionary. Having a group of keys enables you to access the whole dictionary in 
# an easy and handy way.

for key in dict.keys():
    print(key, "->", dict[key])

# Also valid but NOT necessary for > Python 3.6x:

for key in sorted(dict.keys()):
    print(key, "->", dict[key])

list_keys = []
list_keys2 = []
list_keys = dict.keys() # This is NOT how we gather the list of keys:
print("\nList with keys: ", list_keys)

# ATTENTION: the following code is not going to work 
# (ERROR -> TypeError: 'list' object is not callable) if  "list" has been
# declared as a variable (or function) somewhere else. 
# "list()" is function in Python:

keys_list = []
my_dict = {'a': 1, 'b': 2, 'c': 3}
# keys_list = list(my_dict.keys()) # NOT VALID

# The good way:
for key in my_dict.keys():
  keys_list.append(key)

print('List of keys "keys_list" = ', keys_list)

cat -> chat
dog -> chien
horse -> cheval
cat -> chat
dog -> chien
horse -> cheval

List with keys:  dict_keys(['cat', 'dog', 'horse'])
List of keys "keys_list" =  ['a', 'b', 'c']

In [87]:
# Dictionary´s "ITEMS" and "VALUES"

# Another way is based on using a dictionary's method named items(). 
# The method returns tuples (this is the first example where tuples are 
# something more than just an example of themselves) where each tuple is a 
# key-value pair. 


dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
print('\nUsing "items()"')
for english, french in dictionary.items():
    print(english, "->", french)

# There is also a method named values(), which WORKS SIMILARLY to keys(), 
# but returns values.

dictionary = {"cat": "chat", "dog": "chien", "horse": "cheval"}
print('\nPrinting the keys "values()": ')
for french in dictionary.values():
    print(french)

Using "items()"
cat -> chat
dog -> chien
horse -> cheval

Printing the keys "values()":
chat
chien
cheval

# Ejemplo uso librería "drive" de google.colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df1 = pd.read_csv ('/content/drive/MyDrive/UOC/Master Bioinformatica/SEMESTRE 2/3-MACHINE LEARNING/PRACTICAS/oh_enc.csv')
df2 = pd.read_csv ('/content/drive/MyDrive/UOC/Master Bioinformatica/SEMESTRE 2/3-MACHINE LEARNING/PRACTICAS/data4.csv')

print (df1)
print ('\n\n/////////////////////////////////////\n\n')
print (df2)

      V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  ...  V331  V332  V333  V334  \
0      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
1      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     1
2      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
3      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
4      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...   ...   ...   ...   ...
9995   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0
9996   0   0   0   0   0   0   0   0   0    0  ...     1     0     0     0
9997   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0
9998   0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
9999   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0

      V335  V336  V337  V338  V339  V340
0        1     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     0     0     0     0
3        0     0     0     0     0     0
4        0     1     0     0     0     0
...    ...   ...   ...   ...   ...   ...
9995     0     0     0     0     1     0
9996     0     0     0     0     0     0
9997     0     0     0     0     0     0
9998     0     0     0     0     0     0
9999     0     0     0     0     0     0

[10000 rows x 340 columns]


/////////////////////////////////////


     V1;"V2";"V3";"V4";"V5";"V6";"V7";"V8";"V9";"V10";"V11";"V12";"V13";"V14";"V15";"V16";"V17";"V18"
0     S;"S";"P";"F";"S";"Q";"K";"G";"D";"E";"R";"Y";...
1     L;"L";"Q";"Y";"Y";"G";"M";"T";"E";"M";"N";"Y";...
2     L;"L";"N";"P";"K";"K";"Y";"I";"P";"G";"T";"K";...
3     L;"L";"N";"A";"K";"G";"E";"T";"F";"E";"V";"A";...
4     T;"V";"S";"F";"E";"A";"T";"F";"A";"F";"L";"I";...
...                                                 ...
9995  I;"V";"S";"W";"G";"S";"G";"C";"A";"Q";"K";"N";...
9996  S;"V";"K";"L";"N";"H";"N";"R";"A";"K";"S";"M";...
9997  I;"P";"W";"S";"I";"Y";"S";"A";"I";"F";"E";"I";...
9998  P;"T";"D";"S";"E";"L";"Y";"K";"L";"I";"A";"S";...
9999  I;"V";"R";"K";"V";"N";"A";"E";"G";"S";"V";"D";...

[10000 rows x 1 columns]