<a href="https://colab.research.google.com/github/dazaca/ML_000_EXAMPLES/blob/main/practica_python_essential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 3
b = 2
c = a + b
print(c)

5

In [ ]:
# Declaración
b = 5
# Asignación
c = a + b
print(c)

8

In [ ]:
c = a + b
print(c)

5



# PYTHON REVIEW

## 1- Sintax, literals, operators, expressions

In [ ]:
# 1.1 Print
print("Hello, world!")
# Valid use of print() functions. It adds an empty line:
print()
print("... new line after empty line ...")
print("\n... new line after empty line using the escape character '\' (backslash) ...")
print("\n... new line after empty line using the escape character '\\' ...")

print("\nFirst argument ->", "<- second argument (separated by comma with space included)")
print("My name is", "Python.")
print("Monty Python (with no line in between).")

Hello, world!

... new line after empty line ...

... new line after empty line using the escape character '' (backslash) ...

... new line after empty line using the escape character '\' ...

First argument -> <- second argument (separated by comma with space included)
My name is Python.
Monty Python (with no line in between).

In [ ]:
# 1.2 Keyword Arguments
# The print() function has two keyword arguments that you can use for your purposes. 
# The first of them is named "end" (note that here the default /n is replaced by a space):

print("\nMy name is", "Python.", end=" ")
print("Monty Python.")

print("\nMy name is ", end="")
print("Monty Python2.")

# The second keyword: "sep" (separator):
print()
print("My", "name", "is", "Monty", "Python.", sep="-")

# Combination of both:
print("\nCombination of both: Monty", "Python.", sep="*", end="*\n")
print("Hello")

My name is Python. Monty Python.

My name is Monty Python2.

My-name-is-Monty-Python.

Combination of both: Monty*Python.*
Hello

In [ ]:
# 1.3 Literals - the data in itself

# Two types of literals: string vs integer:
print("\n--- String vs integer ---\n")
print("2")
print(2)

# *Python 3.6 has introduced underscores in numeric literals, allowing for
# placing single underscores between digits and after base specifiers for
# improved readability. This feature is not available in older versions 
# of Python.
print("\n--- Underscore between digits: ---\n")
print("Operating with the same number: ", 111_111_111 - 111111111)

# Integers: octal and hexadecimal numbers.
print("\n--- Integers: octal and hexadecimal numbers. ---\n")
# If an integer number is preceded by an 0O or 0o prefix (zero-o), 
# it will be treated as an octal value. This means that the number must contain 
# digits taken from the [0..7] range only.
print("Convert 123 in octal to decimal: ")
print(0o123)

# To use hexadecimal numbers, such numbers should be preceded by the 
# prefix 0x or 0X (zero-x):
print("Convert 123 in hexadecimal to decimal: ")
print(0x123)

# Another example:
print("Convert A (in hexadecimal) and 12 (in octal) to decimal: ", end="\n\n")
print("0xA in decimal: ", 0xA, "\n")
print("0o12 in octal: ", 0o12, "\n")

# Floats (floating-point number):
print("\n--- Floats (floating-point number). ---\n")
print("Different ways of writing -0.4:", -0.4, "or", -.4)

# Scientific notation. Exponents:
print("\n--- Scientific notation. ---\n")
print("Examples:", 3E8, " or ", 3e8, " or ", -1.5e-3)

# Strings:
print("\n--- Strings. ---\n")
print("Use of backslash:")
print("I like \"Monty Python\" or also", 'I like "Monty Python".')
print('I\'m Monty Python.', "I'm Monty Python.")
print('')
print("----1")
print("")
print('----2')

# Boolean values:
print("\n--- Boolean values. ---\n")
print("You cannot change anything - you have to take these symbols as they are,\
 including case-sensitivity")
print(True > False)
print(True < False)
print("Expressions above: clue-> 1 (True) and 0 (False).")

--- String vs integer ---

2
2

--- Underscore between digits: ---

Operating with the same number:  0

--- Integers: octal and hexadecimal numbers. ---

Convert 123 in octal to decimal:
83
Convert 123 in hexadecimal to decimal:
291
Convert A (in hexadecimal) and 12 (in octal) to decimal:

0xA in decimal:  10

0o12 in octal:  10


--- Floats (floating-point number). ---

Different ways of writing -0.4: -0.4 or -0.4

--- Scientific notation. ---

Examples: 300000000.0  or  300000000.0  or  -0.0015

--- Strings. ---

Use of backslash:
I like "Monty Python" or also I like "Monty Python".
I'm Monty Python. I'm Monty Python.

----1

----2

--- Boolean values. ---

You cannot change anything - you have to take these symbols as they are, including case-sensitivity
True
False
Expressions above: clue-> 1 (True) and 0 (False).

In [15]:
# 1.4 Operators

# Data and operators when connected together form expressions. 
# The simplest expression is a literal itself.

# Exponentiation:
print("\n--- Exponentiation ---\n")
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)
print()
print("2*3 = ", 2 * 3, " but 6/3 = ", 6/3, "\n")

# Division:
print("\n\n--- Division ---\n")
# A // (double slash) sign is an integer divisional operator. It differs from 
# the standard / operator in two details:
 
# 1) its result lacks the fractional part - it's absent (for integers), or is 
# always equal to zero (for floats); this means that the results are always rounded;
# 2) it conforms to the integer vs. float rule.

# Decimal division:
print("8 / 4 (decimal)= ", 8/4)
# Integer division (floor division): The rounding goes toward the lesser integer value
print("6 // 4 (integer)= ", 6 // 4)
print("6. // 4 = ", 6. // 4)
# Watch out for the negative numbers! :
print("Watch out for the negative numbers!")
print("-6 // 4 = ", -6 // 4)
print("6. // -4 = ", 6. // -4)

# Remainder (modulo):
print("\n\n--- Remainder(modulo) ---\n")
# It's the value left over after dividing one value by another to produce an integer quotient.
print("14 % 4 = ", 14 % 4, "\n")
print("12 % 4.5 = ", 12 % 4.5)

# Priorities:
print("\n\n--- Execution order priorities ---\n")
# The binding of the operator determines the order of computations performed by
# some operators with equal priority, put side by side in one expression.
# % operator, as almost all operators, has left-sided binding:
print("Example: 9 % 6 % 2 = ", 9 % 6 % 2)
# EXCEPTION ( ** operator is right-sided binding):
# 2 ** 2 → 4; 4 ** 3 → 64
# 2 ** 3 → 8; 2 ** 8 → 256
print("\nEXCEPTION ( ** operator is right-sided binding):")
print("2 ** 2 → 4; 4 ** 3 → 64")
print("2 ** 3 → 8; 2 ** 8 → 256")
print("\nEXCEPTION: 2 ** 2 ** 3 would be ((2^3)^2) = ", 2 ** 2 ** 3)

# Priority: ** , + or - (unary), * or / or // or %, + or - (binary)
x = 10
y = -x  # assign the negative value of x to y using the - unary operator
print("\nx = 10")
print("y = -x  # assign the negative value of x to y using the - unary operator")
print(y, "=")  # prints -10

z = +x  # assign the positive value of x to z using the + unary operator (this is the default behavior)
print("z = +x  # assign the positive value of x to z using the + unary operator (this is the default behavior).")

print(z)  # prints 10

--- Exponentiation ---

8
8.0
8.0
8.0

2*3 =  6  but 6/3 =  2.0



--- Division ---

8 / 4 (decimal)=  2.0
6 // 4 (integer)=  1
6. // 4 =  1.0
Watch out for the negative numbers!
-6 // 4 =  -2
6. // -4 =  -2.0


--- Remainder(modulo) ---

14 % 4 =  2

12 % 4.5 =  3.0


--- Execution order priorities ---

Example: 9 % 6 % 2 =  1

EXCEPTION ( ** operator is right-sided binding):
2 ** 2 → 4; 4 ** 3 → 64
2 ** 3 → 8; 2 ** 8 → 256

EXCEPTION: 2 ** 2 ** 3 would be ((2^3)^2) =  256
x = 10
y = -x  # assign the negative value of x to y using the - unary operator
-10 =
z = +x  # assign the positive value of x to z using the + unary operator (this is the default behavior).
10

In [18]:
# 1.4 Variables

# With cannot begin a variable's name with a digit and neither use spaces.

var = "3.8.6"
print("Python version: " + var)
# ... also:
print("Python version: ", var)

Python version: 3.8.6
Python version:  3.8.6

In [ ]:
# 1.5 Shortcut operators

# i = i + 2 * j ⇒  i += 2 * j
# 
# var = var / 2 ⇒  var /= 2
# 
# rem = rem % 10 ⇒  rem %= 10
# 
# j = j - (i + var + rem) ⇒  j -= (i + var + rem)
# 
# x = x ** 2 ⇒  x **= 2

In [30]:
# 1.6 String operators

# Concat operator
print("\n\n--- Concat operator ---\n")
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

--- Concat operator ---

May I have your first name, please? yo
May I have your last name, please? mismoyatedigo
Thank you.

Your name is yo mismoyatedigo.


--- Replication operator ---

+----------+

In [36]:
# Replication operator
print("\n\n--- Replication operator ---\n")
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5)
print("+" + 10 * "-" + "+")

print("\nLet's improve it: \n")


print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

--- Replication operator ---

+----------+
|          |
|          |
|          |
|          |
|          |

+----------+

Let's improve it:

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

##2- Some interesting functions: "input( )", "int( )", "float( )", "str()"

In [19]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

Tell me anything...
ANYTHING
Hmm... ANYTHING ... Really?

In [26]:
anything = input("Enter a number: ")
something = float(anything) ** 2.0 # Operand ** only admits string or float !!!
print(anything, "to the power of 2 is", something)

Enter a number: 2
2 to the power of 2 is 4.0

In [27]:
# ... OR :
anything = float(input("Enter a number: "))
something = anything ** 2.0 # Operand ** only admits string or float !!!
print(anything, "to the power of 2 is", something)

Enter a number: 2
2.0 to the power of 2 is 4.0

In [28]:
# ... an example:

leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

Input first leg length: 2
Input second leg length: 2
Hypotenuse length is 2.8284271247461903

In [38]:
# str() example (compare it with the previous one):

leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is " + str((leg_a**2 + leg_b**2) ** .5))

Input first leg length: 2
Input second leg length: 2
Hypotenuse length is 2.8284271247461903

In [40]:
x = float(input("\nEnter value for x: "))
y = float((x+(1/((x+( 1/(x+( 1/x )))))))**-1)
print("y =", y)
print("... or:")
y = float(1/(x+(1/((x+( 1/(x+( 1/x ))))))))
print("y =", y)
print("... or even:")
y = 1/(x+(1/((x+( 1/(x+( 1/x )))))))
print("y =", y)

Enter value for x: 1
y = 0.6000000000000001
... or:
y = 0.6000000000000001
... or even:
y = 0.6000000000000001

## 3- String operators

# Ejemplo uso librería "drive" de google.colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df1 = pd.read_csv ('/content/drive/MyDrive/UOC/Master Bioinformatica/SEMESTRE 2/3-MACHINE LEARNING/PRACTICAS/oh_enc.csv')
df2 = pd.read_csv ('/content/drive/MyDrive/UOC/Master Bioinformatica/SEMESTRE 2/3-MACHINE LEARNING/PRACTICAS/data4.csv')

print (df1)
print ('\n\n/////////////////////////////////////\n\n')
print (df2)

      V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  ...  V331  V332  V333  V334  \
0      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
1      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     1
2      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
3      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
4      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...   ...   ...   ...   ...
9995   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0
9996   0   0   0   0   0   0   0   0   0    0  ...     1     0     0     0
9997   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0
9998   0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
9999   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0

      V335  V336  V337  V338  V339  V340
0        1     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     0     0     0     0
3        0     0     0     0     0     0
4        0     1     0     0     0     0
...    ...   ...   ...   ...   ...   ...
9995     0     0     0     0     1     0
9996     0     0     0     0     0     0
9997     0     0     0     0     0     0
9998     0     0     0     0     0     0
9999     0     0     0     0     0     0

[10000 rows x 340 columns]


/////////////////////////////////////


     V1;"V2";"V3";"V4";"V5";"V6";"V7";"V8";"V9";"V10";"V11";"V12";"V13";"V14";"V15";"V16";"V17";"V18"
0     S;"S";"P";"F";"S";"Q";"K";"G";"D";"E";"R";"Y";...
1     L;"L";"Q";"Y";"Y";"G";"M";"T";"E";"M";"N";"Y";...
2     L;"L";"N";"P";"K";"K";"Y";"I";"P";"G";"T";"K";...
3     L;"L";"N";"A";"K";"G";"E";"T";"F";"E";"V";"A";...
4     T;"V";"S";"F";"E";"A";"T";"F";"A";"F";"L";"I";...
...                                                 ...
9995  I;"V";"S";"W";"G";"S";"G";"C";"A";"Q";"K";"N";...
9996  S;"V";"K";"L";"N";"H";"N";"R";"A";"K";"S";"M";...
9997  I;"P";"W";"S";"I";"Y";"S";"A";"I";"F";"E";"I";...
9998  P;"T";"D";"S";"E";"L";"Y";"K";"L";"I";"A";"S";...
9999  I;"V";"R";"K";"V";"N";"A";"E";"G";"S";"V";"D";...

[10000 rows x 1 columns]