<a href="https://colab.research.google.com/github/dazaca/ML_000_EXAMPLES/blob/main/practica_python_essential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 3
b = 2
c = a + b
print(c)

5

In [ ]:
# Declaración
b = 5
# Asignación
c = a + b
print(c)

8

In [ ]:
c = a + b
print(c)

5



# PYTHON REVIEW

## 1- Sintax, literals, operators, expressions

In [ ]:
# 1.1 Print
print("Hello, world!")
# Valid use of print() functions. It adds an empty line:
print()
print("... new line after empty line ...")
print("\n... new line after empty line using the escape character '\' (backslash) ...")
print("\n... new line after empty line using the escape character '\\' ...")

print("\nFirst argument ->", "<- second argument (separated by comma with space included)")
print("My name is", "Python.")
print("Monty Python (with no line in between).")

Hello, world!

... new line after empty line ...

... new line after empty line using the escape character '' (backslash) ...

... new line after empty line using the escape character '\' ...

First argument -> <- second argument (separated by comma with space included)
My name is Python.
Monty Python (with no line in between).

In [ ]:
# 1.2 Keyword Arguments
# The print() function has two keyword arguments that you can use for your purposes. 
# The first of them is named "end" (note that here the default /n is replaced by a space):

print("\nMy name is", "Python.", end=" ")
print("Monty Python.")

print("\nMy name is ", end="")
print("Monty Python2.")

# The second keyword: "sep" (separator):
print()
print("My", "name", "is", "Monty", "Python.", sep="-")

# Combination of both:
print("\nCombination of both: Monty", "Python.", sep="*", end="*\n")
print("Hello")

My name is Python. Monty Python.

My name is Monty Python2.

My-name-is-Monty-Python.

Combination of both: Monty*Python.*
Hello

In [ ]:
# 1.3 Literals - the data in itself

# Two types of literals: string vs integer:
print("\n--- String vs integer ---\n")
print("2")
print(2)

# *Python 3.6 has introduced underscores in numeric literals, allowing for
# placing single underscores between digits and after base specifiers for
# improved readability. This feature is not available in older versions 
# of Python.
print("\n--- Underscore between digits: ---\n")
print("Operating with the same number: ", 111_111_111 - 111111111)

# Integers: octal and hexadecimal numbers.
print("\n--- Integers: octal and hexadecimal numbers. ---\n")
# If an integer number is preceded by an 0O or 0o prefix (zero-o), 
# it will be treated as an octal value. This means that the number must contain 
# digits taken from the [0..7] range only.
print("Convert 123 in octal to decimal: ")
print(0o123)

# To use hexadecimal numbers, such numbers should be preceded by the 
# prefix 0x or 0X (zero-x):
print("Convert 123 in hexadecimal to decimal: ")
print(0x123)

# Another example:
print("Convert A (in hexadecimal) and 12 (in octal) to decimal: ", end="\n\n")
print("0xA in decimal: ", 0xA, "\n")
print("0o12 in octal: ", 0o12, "\n")

# Floats (floating-point number):
print("\n--- Floats (floating-point number). ---\n")
print("Different ways of writing -0.4:", -0.4, "or", -.4)

# Scientific notation. Exponents:
print("\n--- Scientific notation. ---\n")
print("Examples:", 3E8, " or ", 3e8, " or ", -1.5e-3)

# Strings:
print("\n--- Strings. ---\n")
print("Use of backslash:")
print("I like \"Monty Python\" or also", 'I like "Monty Python".')
print('I\'m Monty Python.', "I'm Monty Python.")
print('')
print("----1")
print("")
print('----2')

# Boolean values:
print("\n--- Boolean values. ---\n")
print("You cannot change anything - you have to take these symbols as they are,\
 including case-sensitivity")
print(True > False)
print(True < False)
print("Expressions above: clue-> 1 (True) and 0 (False).")

--- String vs integer ---

2
2

--- Underscore between digits: ---

Operating with the same number:  0

--- Integers: octal and hexadecimal numbers. ---

Convert 123 in octal to decimal:
83
Convert 123 in hexadecimal to decimal:
291
Convert A (in hexadecimal) and 12 (in octal) to decimal:

0xA in decimal:  10

0o12 in octal:  10


--- Floats (floating-point number). ---

Different ways of writing -0.4: -0.4 or -0.4

--- Scientific notation. ---

Examples: 300000000.0  or  300000000.0  or  -0.0015

--- Strings. ---

Use of backslash:
I like "Monty Python" or also I like "Monty Python".
I'm Monty Python. I'm Monty Python.

----1

----2

--- Boolean values. ---

You cannot change anything - you have to take these symbols as they are, including case-sensitivity
True
False
Expressions above: clue-> 1 (True) and 0 (False).

In [ ]:
# 1.4 Operators

# Data and operators when connected together form expressions. 
# The simplest expression is a literal itself.

# Exponentiation:
print("\n--- Exponentiation ---\n")
print(2 ** 3)
print(2 ** 3.)
print(2. ** 3)
print(2. ** 3.)
print()
print("2*3 = ", 2 * 3, " but 6/3 = ", 6/3, "\n")

# Division:
print("\n\n--- Division ---\n")
# A // (double slash) sign is an integer divisional operator. It differs from 
# the standard / operator in two details:
 
# 1) its result lacks the fractional part - it's absent (for integers), or is 
# always equal to zero (for floats); this means that the results are always rounded;
# 2) it conforms to the integer vs. float rule.

# Decimal division:
print("8 / 4 (decimal)= ", 8/4)
# Integer division (floor division): The rounding goes toward the lesser integer value
print("6 // 4 (integer)= ", 6 // 4)
print("6. // 4 = ", 6. // 4)
# Watch out for the negative numbers! :
print("Watch out for the negative numbers!")
print("-6 // 4 = ", -6 // 4)
print("6. // -4 = ", 6. // -4)

# Remainder (modulo):
print("\n\n--- Remainder(modulo) ---\n")
# It's the value left over after dividing one value by another to produce an integer quotient.
print("14 % 4 = ", 14 % 4, "\n")
print("12 % 4.5 = ", 12 % 4.5)

# Priorities:
print("\n\n--- Execution order priorities ---\n")
# The binding of the operator determines the order of computations performed by
# some operators with equal priority, put side by side in one expression.
# % operator, as almost all operators, has left-sided binding:
print("Example: 9 % 6 % 2 = ", 9 % 6 % 2)
# EXCEPTION ( ** operator is right-sided binding):
# 2 ** 2 → 4; 4 ** 3 → 64
# 2 ** 3 → 8; 2 ** 8 → 256
print("\nEXCEPTION ( ** operator is right-sided binding):")
print("2 ** 2 → 4; 4 ** 3 → 64")
print("2 ** 3 → 8; 2 ** 8 → 256")
print("\nEXCEPTION: 2 ** 2 ** 3 would be ((2^3)^2) = ", 2 ** 2 ** 3)

# Priority: ** , + or - (unary), * or / or // or %, + or - (binary)
x = 10
y = -x  # assign the negative value of x to y using the - unary operator
print("\nx = 10")
print("y = -x  # assign the negative value of x to y using the - unary operator")
print(y, "=")  # prints -10

z = +x  # assign the positive value of x to z using the + unary operator (this is the default behavior)
print("z = +x  # assign the positive value of x to z using the + unary operator (this is the default behavior).")

print(z)  # prints 10

--- Exponentiation ---

8
8.0
8.0
8.0

2*3 =  6  but 6/3 =  2.0



--- Division ---

8 / 4 (decimal)=  2.0
6 // 4 (integer)=  1
6. // 4 =  1.0
Watch out for the negative numbers!
-6 // 4 =  -2
6. // -4 =  -2.0


--- Remainder(modulo) ---

14 % 4 =  2

12 % 4.5 =  3.0


--- Execution order priorities ---

Example: 9 % 6 % 2 =  1

EXCEPTION ( ** operator is right-sided binding):
2 ** 2 → 4; 4 ** 3 → 64
2 ** 3 → 8; 2 ** 8 → 256

EXCEPTION: 2 ** 2 ** 3 would be ((2^3)^2) =  256
x = 10
y = -x  # assign the negative value of x to y using the - unary operator
-10 =
z = +x  # assign the positive value of x to z using the + unary operator (this is the default behavior).
10

In [ ]:
# 1.4 Variables

# With cannot begin a variable's name with a digit and neither use spaces.

var = "3.8.6"
print("Python version: " + var)
# ... also:
print("Python version: ", var)

Python version: 3.8.6
Python version:  3.8.6

In [ ]:
# 1.5 Shortcut operators

# i = i + 2 * j ⇒  i += 2 * j
# 
# var = var / 2 ⇒  var /= 2
# 
# rem = rem % 10 ⇒  rem %= 10
# 
# j = j - (i + var + rem) ⇒  j -= (i + var + rem)
# 
# x = x ** 2 ⇒  x **= 2

In [ ]:
# 1.6 String operators

# Concat operator
print("\n\n--- Concat operator ---\n")
fnam = input("May I have your first name, please? ")
lnam = input("May I have your last name, please? ")
print("Thank you.")
print("\nYour name is " + fnam + " " + lnam + ".")

print("--- Others ----")
x=int(input())
y=int(input())
w=input()

z=x//y*3 # Output is not 0.0 but 0.
print(z)
print(w*3) # Output will be the digit 'w' repeated 3 times.
print('Other example: 3 times E is', 'E'*3)

--- Concat operator ---

May I have your first name, please? perico
May I have your last name, please? palotes
Thank you.

Your name is perico palotes.
--- Others ----
1
2
3
0
333
Other example: 3 times E is EEE

In [ ]:
# 1.7 Replication operator

print("\n\n--- Replication operator ---\n")
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5)
print("+" + 10 * "-" + "+")

print("\nLet's improve it: \n")


print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

--- Replication operator ---

+----------+
|          |
|          |
|          |
|          |
|          |

+----------+

Let's improve it:

+----------+
|          |
|          |
|          |
|          |
|          |
+----------+

##2- Some interesting functions

### 2.1 input( )

In [ ]:
print("Tell me anything...")
anything = input()
print("Hmm...", anything, "... Really?")

Tell me anything...
ANYTHING
Hmm... ANYTHING ... Really?

### 2.2 float( )

In [ ]:
anything = input("Enter a number: ")
something = float(anything) ** 2.0 # Operand ** only admits string or float !!!
print(anything, "to the power of 2 is", something)

Enter a number: 2
2 to the power of 2 is 4.0

### 2.3 float( ) and input( )

In [ ]:
# ... OR :
anything = float(input("Enter a number: "))
something = anything ** 2.0 # Operand ** only admits string or float !!!
print(anything, "to the power of 2 is", something)

Enter a number: 2
2.0 to the power of 2 is 4.0

In [ ]:
# ... an example:

leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
hypo = (leg_a**2 + leg_b**2) ** .5
print("Hypotenuse length is", hypo)

Input first leg length: 2
Input second leg length: 2
Hypotenuse length is 2.8284271247461903

### 2.4 str( )

In [ ]:
# str() example (compare it with the previous one):

leg_a = float(input("Input first leg length: "))
leg_b = float(input("Input second leg length: "))
print("Hypotenuse length is " + str((leg_a**2 + leg_b**2) ** .5))

Input first leg length: 2
Input second leg length: 2
Hypotenuse length is 2.8284271247461903

In [ ]:
x = float(input("\nEnter value for x: "))
y = float((x+(1/((x+( 1/(x+( 1/x )))))))**-1)
print("y =", y)
print("... or:")
y = float(1/(x+(1/((x+( 1/(x+( 1/x ))))))))
print("y =", y)
print("... or even:")
y = 1/(x+(1/((x+( 1/(x+( 1/x )))))))
print("y =", y)

Enter value for x: 1
y = 0.6000000000000001
... or:
y = 0.6000000000000001
... or even:
y = 0.6000000000000001

### 2.5 max( ) and min( )

In [ ]:
# max() and min()

print("\n\n--- max() and min() ---\n")
# Read three numbers.
number1 = int(input("Enter the first number: "))
number2 = int(input("Enter the second number: "))
number3 = int(input("Enter the third number: "))

# Check which one of the numbers is the greatest
# and pass it to the largest_number variable.

largest_number = max(number1, number2, number3)
lowest_number = min(number1, number2, number3)

# Print the result.
print("The largest number is:", largest_number)
print("The lowest number is:", lowest_number)

--- max() and min() ---

Enter the first number: 22
Enter the second number: 3
Enter the third number: -1
The largest number is: 22
The lowest number is: -1

### 2.5 time.sleep( )

In [14]:
# time.sleep(1)

print("\n\n--- time.sleep() ---\n")

import time

for counter in range (1,6):
    print(counter, " Mississipi.\n")
    time.sleep(1) # Stops execution 1 second.
print("\nBlast off!")

--- time.sleep() ---

1  Mississipi.

2  Mississipi.

3  Mississipi.

4  Mississipi.

5  Mississipi.


Blast off!

## 3- Boolean values, conditional execution, loops, lists, logical and bitwise operations

### 3.1 Boolean values

In [ ]:
# The 'equal to' operator:

print("Result of 2 == 2 expresion in python is:", 2 == 2)
print("Result of 2 == 2.0 expresion in python is:", 2 == 2.0)
print("Result of 2 == 1 expresion in python is:", 2 == 1)

Result of 2 == 2 expresion in python is: True
Result of 2 == 2.0 expresion in python is: True
Result of 2 == 1 expresion in python is: False

In [ ]:
# Quick examplo use of >= 
# simple two-line program that takes the parameter n as input, which is an 
# integer, and prints False if n #is less than 100, and True if n is greater 
# than or equal to 100.

n=int(input())
print(n>=100)

### 3.2 Conditions and conditional execution

#### 3.2.1 If, else & elif

In [1]:
# 3.2.1 If, else & elif

print("\n\n--- If, else & elif ---\n")

n=int(input("Enter a number: \n"))
if(n>=100):
  if(n==100):
    print("Your number is = to 100 !")
  elif(n > 100):
    print("Your number is > than 100 !")
else:
  print("Your number is < than 100 !")

--- If, else & elif ---

Enter a number:
3
Your number is < than 100 !

### 3.3 Loops

#### 3.3.1 "While" loops

In [4]:
# 3.3.2 While

print("\n\n--- While ---\n")

# Store the current largest number here.
largest_number = -999999999

# Input the first value.
number = int(input("Enter a number or type -1 to stop: "))

# If the number is not equal to -1, continue.
while number != -1:
    # Is number larger than largest_number?
    if number > largest_number:
        # Yes, update largest_number.
        largest_number = number
    # Input the next number.
    number = int(input("Enter a number or type -1 to stop: "))

# Print the largest number.
print("The largest number is:", largest_number)

--- While ---

Enter a number or type -1 to stop: 3
Enter a number or type -1 to stop: -100
Enter a number or type -1 to stop: 2
Enter a number or type -1 to stop: -1
The largest number is: 3

In [8]:
counter = 5
while counter != 0:
    print("Inside the loop.", counter)
    counter -= 1
print("Outside the loop.", counter)

print("\nUsing an equivalent while condition:")
counter = 5
while counter:
    print("Inside the loop.", counter)
    counter -= 1
print("Outside the loop.", counter)

Inside the loop. 5
Inside the loop. 4
Inside the loop. 3
Inside the loop. 2
Inside the loop. 1
Outside the loop. 0

Using an equivalent while condition:
Inside the loop. 5
Inside the loop. 4
Inside the loop. 3
Inside the loop. 2
Inside the loop. 1
Outside the loop. 0

#### 3.3.2 "For" loops

In [9]:
# 3.3.3 "For" loops

print("\n\n--- For loops ---\n")
# the for loop is designed to do more complicated tasks 
# - it can "browse" large collections of data item by item - .

for i in range(10):
    print("The value of i is currently", i)

--- For loops ---

The value of i is currently 0
The value of i is currently 1
The value of i is currently 2
The value of i is currently 3
The value of i is currently 4
The value of i is currently 5
The value of i is currently 6
The value of i is currently 7
The value of i is currently 8
The value of i is currently 9

In [10]:
for i in range(2, 8):
    print("The value of i is currently", i)

The value of i is currently 2
The value of i is currently 3
The value of i is currently 4
The value of i is currently 5
The value of i is currently 6
The value of i is currently 7

In [11]:
for i in range(2, 8, 3):
    print("The value of i is currently", i)

The value of i is currently 2
The value of i is currently 5

In [12]:
# NO OUTPUT FOR THE FOLLOWING CASES:

for i in range(1, 1):
    print("The value of i is currently", i)

for i in range(2, 1):
    print("The value of i is currently", i)

# Check the use of time.spleep() example in 2.5

#### 3.3.3 The "break" and "continue" statements

In [17]:
# break (keyword)- example 
print("The break instruction:")
for i in range(1, 6):
    if i == 3:
        break
    print("Inside the loop.", i)
print("Outside the loop (break at 3).")


# continue (keyword)- example
print("\nThe continue instruction:")
for i in range(1, 6):
    if i == 3:
        continue # Note we cancel the iteration, but not the loop.
    print("Inside the loop.", i)
print("Outside the loop.")

The break instruction:
Inside the loop. 1
Inside the loop. 2
Outside the loop (break at 3).

The continue instruction:
Inside the loop. 1
Inside the loop. 2
Inside the loop. 4
Inside the loop. 5
Outside the loop.

In [24]:
for i in range(6, 1, -2):
    print(i, end=" ")  # Outputs: 6, 4, 2

6 4 2

In [25]:
for digit in "0165031806510":
    if digit == "0":
        print("x", end="")
        continue
    print(digit, end="")

x165x318x651x

In [19]:
# Another example:
user_word = input("Enter a word in lowercase: ")
user_word = user_word.upper()
for letter in user_word: # Exclude de vowels
    if (letter == 'A') \
        or (letter == 'E') \
        or (letter == 'I') \
        or (letter == 'O') \
        or (letter == 'U'):
            continue
    else:
        print(letter)

Enter a word in lowercase: mississipo
M
S
S
S
S
P

#### 3.3.4. The "while" loop and the "else" branch

In [21]:
i = 1
while i < 4:
    print(i)
    i += 1
else:
    print("else:", i)

# OR...
print('\nThe "while" condition is not met:')
i = 5
while i < 5:
    print(i)
    i += 1
else:
    print("else:", i)

1
2
3
else: 4

The "while" condition is not met:
else: 5

In [23]:
i = 111
for i in range(2, 1):
    print(i)
else:
    print("else:", i)

### 3.4 & vs AND operators

In [32]:
# Bitwise "&"" vs logical "AND" operators
i = 1
j = 2
k = 4
z = 15
log = i and j
print("01b in decimal = ", 0b000010)
print("10b in decimal = ",0b000001)
print("100b in decimal = ",0b000100)
print("1111b in decimal = ",0b00000000000000000000000000001111)
print("the binary neg for 1111b (32bits) in decimal (11111111111111111111111111110000) = ", ~0b1111)


# In Python, the logical AND operator returns the first operand if it is false, 
# otherwise it returns the second operand. In this case, both "i" and "j" are 
# non-zero values, which evaluate to True in a boolean context. Therefore, the 
# logical AND operation evaluates to the second operand, which is "j".

print("log = ", log)
print("i and j : ", i and j)
print("i or j : ",i or j)
print("i & j : ",i&j)

print("\n --- ")
print("logneg = ", not i)
# bitwise (binary negation)
print("i bitneg = ", ~i)
print("k bitneg = ", ~k)
print("z bitneg = ", ~z)

print("\n --- Abreviations: ")
print('x = x & y	x &= y (and or conjunction)')
print('x = x | y	x |= y (or)')
print('x = x ^ y	x ^= y (xor)')

01b in decimal =  2
10b in decimal =  1
100b in decimal =  4
1111b in decimal =  15
the binary neg for 1111b (32bits) in decimal (11111111111111111111111111110000) =  -16
log =  2
i and j :  2
i or j :  1
i & j :  0

 ---
logneg =  False
i bitneg =  -2
k bitneg =  -5
z bitneg =  -16

 --- Abreviations:
x = x & y	x &= y (and)
x = x | y	x |= y (or)
x = x ^ y	x ^= y (xor)

### 3.5 Shift operators

In [33]:
# The shift operators in Python are a pair of digraphs: << and >>, 
# clearly suggesting in which direction the shift will act.

# value << bits
# value >> bits


var = 17
var_right = var >> 1
var_left = var << 2
print(var, var_left, var_right)


# Notes:

# 17 >> 1 → 17 // 2 (17 floor-divided by 2 to the power of 1) → 8 
# (shifting to the right by one bit is the same as integer division by two)

# 17 << 2 → 17 * 4 (17 multiplied by 2 to the power of 2) → 68 
# (shifting to the left by two bits is the same as integer multiplication by four)

17 68 8

### 3.6 Lists

In [38]:
numbers = [10, 5, 7, 2, 1]
print("Original list content:", numbers)  # Printing original list content.

numbers[0] = 111
print("New list content: ", numbers)  # Current list content.

print("\nList length:", len(numbers))  # Printing the list's length.
del numbers[1]  # Removing the second element from the list.
print("New list's length:", len(numbers))  # Printing new list length.
print("\nNew list content:", numbers)  # Printing current list content.

numbers = [111, 7, 2, 1]
print("Negative indices are legal:")
print(numbers[-1])
print(numbers[-2])

# Adding elements to a list: the append() and insert() methods.
numbers.append(777)
numbers.insert(0, 222)
print(len(numbers))
print(numbers)

Original list content: [10, 5, 7, 2, 1]
New list content:  [111, 5, 7, 2, 1]

List length: 5
New list's length: 4

New list content: [111, 7, 2, 1]
Negative indices are legal:
1
2
6
[222, 111, 7, 2, 1, 777]

In [39]:
# Creating a list from scratch:

my_list = []  

for i in range(5):
    my_list.append(i + 1)

print(my_list)

[1, 2, 3, 4, 5]

In [40]:
# Accessing all the elements of a list:

my_list = [10, 1, 8, 3, 5]
total = 0

for i in range(len(my_list)):
    total += my_list[i]

print(total)

27

In [45]:
# Swapping variables & using it to order lists:

var1 = 3
var2 = 66
var1,var2 = var2,var1
print("var1 =", var1, ", var2=", var2)

my_list = [10, 1, 8, 3, 5]
length = len(my_list)

for i in range(length // 2):
    my_list[i], my_list[length - i - 1] = my_list[length - i - 1], my_list[i]

print(my_list)

# Lists can be nested:

my_list = [1, 'a', ["list", 64, [0, 1], False]]
print(my_list)
del my_list  # deletes the whole list

var1 = 66 , var2= 3
[5, 3, 8, 1, 10]
[1, 'a', ['list', 64, [0, 1], False]]

# Ejemplo uso librería "drive" de google.colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df1 = pd.read_csv ('/content/drive/MyDrive/UOC/Master Bioinformatica/SEMESTRE 2/3-MACHINE LEARNING/PRACTICAS/oh_enc.csv')
df2 = pd.read_csv ('/content/drive/MyDrive/UOC/Master Bioinformatica/SEMESTRE 2/3-MACHINE LEARNING/PRACTICAS/data4.csv')

print (df1)
print ('\n\n/////////////////////////////////////\n\n')
print (df2)

      V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  ...  V331  V332  V333  V334  \
0      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
1      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     1
2      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
3      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
4      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...   ...   ...   ...   ...
9995   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0
9996   0   0   0   0   0   0   0   0   0    0  ...     1     0     0     0
9997   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0
9998   0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
9999   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0

      V335  V336  V337  V338  V339  V340
0        1     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     0     0     0     0
3        0     0     0     0     0     0
4        0     1     0     0     0     0
...    ...   ...   ...   ...   ...   ...
9995     0     0     0     0     1     0
9996     0     0     0     0     0     0
9997     0     0     0     0     0     0
9998     0     0     0     0     0     0
9999     0     0     0     0     0     0

[10000 rows x 340 columns]


/////////////////////////////////////


     V1;"V2";"V3";"V4";"V5";"V6";"V7";"V8";"V9";"V10";"V11";"V12";"V13";"V14";"V15";"V16";"V17";"V18"
0     S;"S";"P";"F";"S";"Q";"K";"G";"D";"E";"R";"Y";...
1     L;"L";"Q";"Y";"Y";"G";"M";"T";"E";"M";"N";"Y";...
2     L;"L";"N";"P";"K";"K";"Y";"I";"P";"G";"T";"K";...
3     L;"L";"N";"A";"K";"G";"E";"T";"F";"E";"V";"A";...
4     T;"V";"S";"F";"E";"A";"T";"F";"A";"F";"L";"I";...
...                                                 ...
9995  I;"V";"S";"W";"G";"S";"G";"C";"A";"Q";"K";"N";...
9996  S;"V";"K";"L";"N";"H";"N";"R";"A";"K";"S";"M";...
9997  I;"P";"W";"S";"I";"Y";"S";"A";"I";"F";"E";"I";...
9998  P;"T";"D";"S";"E";"L";"Y";"K";"L";"I";"A";"S";...
9999  I;"V";"R";"K";"V";"N";"A";"E";"G";"S";"V";"D";...

[10000 rows x 1 columns]