<a href="https://colab.research.google.com/github/dazaca/ML_000_EXAMPLES/blob/main/practica_python_essential.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 3
b = 2
c = a + b
print(c)

5

In [ ]:
# Declaración
b = 5
# Asignación
c = a + b
print(c)

8

In [ ]:
c = a + b
print(c)

5



# PYTHON REVIEW

## 1-Sintax, literals, operators, expressions

In [3]:
# Print
print("Hello, world!")
print()
print("... new line after empty line ...")
print("\n... new line after empty line using the escape character '\' (backslash) ...")
print("\n... new line after empty line using the escape character '\\' ...")

print("\nFirst argument", "second argument (separated by comma with space included)")
print("My name is", "Python.")
print("Monty Python (with no line in between).")

# Keyword Arguments
# The print() function has two keyword arguments that you can use for your purposes. 
# The first of them is named "end":


print("\nMy name is", "Python.", end=" ")
print("Monty Python.")

# Valid use of print() functions. It adds an empty line:
print()
print("New line after the use of the \"print()\" function without arguments.")

Hello, world!

... new line after empty line ...

... new line after empty line using the escape character '' (backslash) ...

... new line after empty line using the escape character '\' ...

First argument second argument (separated by comma with space included)
My name is Python.
Monty Python (with no line in between).

My name is Python. Monty Python.

New line after the use of the "print()" function without arguments.

# Ejemplo uso librería "drive" de google.colab

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

df1 = pd.read_csv ('/content/drive/MyDrive/UOC/Master Bioinformatica/SEMESTRE 2/3-MACHINE LEARNING/PRACTICAS/oh_enc.csv')
df2 = pd.read_csv ('/content/drive/MyDrive/UOC/Master Bioinformatica/SEMESTRE 2/3-MACHINE LEARNING/PRACTICAS/data4.csv')

print (df1)
print ('\n\n/////////////////////////////////////\n\n')
print (df2)

      V1  V2  V3  V4  V5  V6  V7  V8  V9  V10  ...  V331  V332  V333  V334  \
0      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
1      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     1
2      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
3      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
4      0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...   ...   ...   ...   ...
9995   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0
9996   0   0   0   0   0   0   0   0   0    0  ...     1     0     0     0
9997   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0
9998   0   0   0   0   0   0   0   0   0    0  ...     0     0     0     0
9999   0   0   0   0   0   0   0   0   0    1  ...     0     0     0     0

      V335  V336  V337  V338  V339  V340
0        1     0     0     0     0     0
1        0     0     0     0     0     0
2        0     0     0     0     0     0
3        0     0     0     0     0     0
4        0     1     0     0     0     0
...    ...   ...   ...   ...   ...   ...
9995     0     0     0     0     1     0
9996     0     0     0     0     0     0
9997     0     0     0     0     0     0
9998     0     0     0     0     0     0
9999     0     0     0     0     0     0

[10000 rows x 340 columns]


/////////////////////////////////////


     V1;"V2";"V3";"V4";"V5";"V6";"V7";"V8";"V9";"V10";"V11";"V12";"V13";"V14";"V15";"V16";"V17";"V18"
0     S;"S";"P";"F";"S";"Q";"K";"G";"D";"E";"R";"Y";...
1     L;"L";"Q";"Y";"Y";"G";"M";"T";"E";"M";"N";"Y";...
2     L;"L";"N";"P";"K";"K";"Y";"I";"P";"G";"T";"K";...
3     L;"L";"N";"A";"K";"G";"E";"T";"F";"E";"V";"A";...
4     T;"V";"S";"F";"E";"A";"T";"F";"A";"F";"L";"I";...
...                                                 ...
9995  I;"V";"S";"W";"G";"S";"G";"C";"A";"Q";"K";"N";...
9996  S;"V";"K";"L";"N";"H";"N";"R";"A";"K";"S";"M";...
9997  I;"P";"W";"S";"I";"Y";"S";"A";"I";"F";"E";"I";...
9998  P;"T";"D";"S";"E";"L";"Y";"K";"L";"I";"A";"S";...
9999  I;"V";"R";"K";"V";"N";"A";"E";"G";"S";"V";"D";...

[10000 rows x 1 columns]